body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Borel', cursive;
    font-family: 'Martian Mono', monospace;
    line-height: 1.5;
    background-color: #fafc65;
    color: white;
}

h1 {
    text-align: center;
    color: #318ce0;
}

.container {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    border-radius: 25px;

}

.tareasList {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    width: 350px;
    outline: none;
    border-radius: 15px;
}

.btn-add {
    padding: 5px 15px;
    color: white;
    border: none;
    font-family: 'Amarante', cursive;
    font-family: 'Borel', cursive;
    font-family: 'Martian Mono', monospace;
    background-color: #4db1d1;
    font-size: 1.4rem;
    outline: none;
    border-radius: 15px;
    margin-left: 20px;
}

.empty {
    color: darkslategrey;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #ee9048;
    color: grey;
    font-weight: bold;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2rem;

}

.btn-delete:hover {
    background-color: lightseagreen;
    cursor: pointer;
}

.checklist{
    width: 75px;
    padding-bottom: 30px;
    padding-left: 165px;
}